@using CorriAndMike.Models
@model IList<CorriAndMike.ViewModels.Admin.InvitationTableViewModel>
<style type="text/css">
    #invitation-table {
        width: 700px;
        table-layout: fixed;
    }
   .DataTables_sort_icon { float: right; }
   .dataTables_length {
       display: none;
   }
</style>
<table id="invitation-table">
    <thead>
        <th>Id</th>
        <th>Type</th>
        <th>Attending / Invited</th>
        <th>Email</th>
        <th>RSVP Date</th>
        <th>Guests</th>
    </thead>
    @foreach (var invitation in Model.OrderBy(i => i.Invitation.Type))
    {
        <tr invitationId="@invitation.Invitation.Id">
            <td>@invitation.Invitation.InvitationId</td>
            <td>
                @switch (invitation.Invitation.Type)
                {
                    case (int)Invitation.InvitationType.EngagementParty:
                        <label>Engagement Party</label>
                        break;
                    case (int)Invitation.InvitationType.Wedding:
                        <label>Wedding</label>
                        break;
                }
            </td>
            <td style="text-align: center;">@invitation.Invitation.AttendingGuests / @invitation.Invitation.MaxNumberOfGuests</td>
            <td>@invitation.Invitation.Email</td>
            <td>@invitation.Invitation.RsvpDate</td>
            <td>
                @foreach (var guest in invitation.Guests.OrderBy(g => g.FirstName).ThenBy(g => g.LastName))
                {
                    <label>@guest.FirstName&nbsp;@guest.LastName</label><br/>
                }
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(function() {
        $("#invitation-table").dataTable({
            "bJQueryUI": true,
            "bFilter": false,
            "bRetrieve": true,
            "aoColumns": [
                { "sWidth": '50px' },
                { "sWidth": '150px' },
                { "sWidth": '200px' },
                { "sWidth": '150px' },
                { "sWidth": '100px' },
                { "sWidth": '250px' },
            ]
        });
    });

    $("tbody>tr").click(function() {
        var id = $(this).attr('invitationId');
        OpenExistingInvitation(id);
    });
</script>