@using CorriAndMike.Models
@model CorriAndMike.ViewModels.Admin.AddInvitationViewModel

@{
    ViewBag.Title = "AddInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #add-invitation td{
        padding: 5px;
        vertical-align: top;
    }
    #Invitation_MaxNumberOfGuests { width: 30px !important; }
    #added-guest-list {
        list-style-type: none;
        padding-left: 20px;
    }
</style>

<table id="add-invitation">
    <tr>
        <td>Invitation Id:</td>
        <td>@Html.TextBoxFor(m => m.Invitation.InvitationId, new { @disabled = "disabled" })</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>@Html.DropDownList("InvitationType", Model.InvitationSelectType, new {} )</td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>@Html.TextBoxFor(m => m.Invitation.Password, new { @disabled = "disabled" })</td>
    </tr>
    <tr>
        <td>Number of guests:</td>
        <td>
            @Html.TextBoxFor(m => m.Invitation.MaxNumberOfGuests)
        </td>
    </tr>
    <tr>
        <td>Guests:</td>
        <td>
            @Html.DropDownListFor(m => m.AvailableGuests, Model.AvailableGuests.OrderBy(g => g.FirstName).Select(g => new SelectListItem() { Selected = false, Text = string.Concat(g.FirstName, " ", g.LastName), Value = g.Id }))
            <input type="button" id="add-guest-invitation" value="+"/>&nbsp;&nbsp;<a id="add-guest-link">Add Guest</a>
            <br/>
            <ul id="added-guest-list">
                
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="2"><input type="button" id="submit-new-invitation" value="Submit"/></td>
    </tr>
</table>

<div id="table-container">
    
</div>

<div id="add-guest-modal" title="Add Guest">
    @Html.Partial("_AddGuest", new Guest())
</div>

<script type="text/javascript">
    var addedGuests = [];

    $(function() {
        $("#Invitation_MaxNumberOfGuests").val(0);
        RefreshInvitationTable();
    });
    
    $("#add-guest-modal").dialog({
        modal: true,
        resizable: false,
        width: 350,
        height: 250,
        autoOpen: false,
        buttons: { "Add Guest": function () {
            AddGuest();            
            }
        }
    });
    
    $("#add-guest-link").click(function () {
        $("#add-guest-modal").dialog("open");
    });

    $("#add-guest-invitation").click(function() {
        var selectedItem = $("#AvailableGuests>option:selected");
        if ($.inArray(selectedItem.val(), addedGuests) == -1 && selectedItem.val() != null) {
            AddGuestToInvitation(selectedItem.val(), selectedItem.text());
            selectedItem.attr('disabled', 'disabled');
        }
    });
    $("#submit-new-invitation").click(function() {
        AddInvitation();
    });

    function AddGuest() {
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/api/Guest"))",
            data: { FirstName: $("#FirstName").val(), LastName: $("#LastName").val() },
            success: function (data, text, xhr) {
                switch(xhr.status) {
                    case 201:
                        var name = data.FirstName + " " + data.LastName;
                        $("#AvailableGuests").append(new Option(name, data.Id));
                        $("#AvailableGuests").val(data.Id);
                        AddGuestToInvitation(data.Id, name);
                        $("#FirstName").val('');
                        $("#LastName").val('');
                        break;
                }
                $("#add-guest-modal").dialog('close');
            }
        });
    }
    
    function AddInvitationToGuest(guestId, invitationId) {
        $.post("@(Url.Action("AddGuestToInvitation", "Admin"))", { guestIds: addedGuests.join(","), InvitationId: invitationId }, function (data) {
            RefreshInvitationTable();
        });
    }
    
    function AddInvitation() {
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/api/Invitation"))",
            data: {
                InvitationId: $("#Invitation_InvitationId").val(),
                Type: $("#InvitationType").val(),
                MaxNumberOfGuests: $("#Invitation_MaxNumberOfGuests").val()
            },
            success: function (data, text, xhr) {
                AddInvitationToGuest(addedGuests, data.Id);               
            }
        });
    }
    
    function AddGuestToInvitation(guestId, guestName) {
        var item = $("<li></li>").attr("id", guestId).html("<input type=\"button\" guestId = \"" + guestId + "\" value=\"x\" />&nbsp;&nbsp;" + guestName);
        $("#added-guest-list").append(item);
        addedGuests.push(guestId);
        $("#Invitation_MaxNumberOfGuests").val(parseInt($("#Invitation_MaxNumberOfGuests").val()) + 1);
    }
    
    function RefreshInvitationTable() {
        $.post("@Url.Action("GetInvitationTable", "Admin")", {}, function (data) {
            $("#table-container").html(data);
        });
    }
</script>