@using CorriAndMike.Models
@model CorriAndMike.ViewModels.Admin.InvitationsViewModel
@{
    ViewBag.Title = "Invitations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    #button-panel input {
        display: inline-block;
    }
    fieldset {
        width: 375px;
        height: 75px;
        margin: 10px 5px;
        padding: 5px;
    }
    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-size: 10pt;
    }
</style>

<h2>Invitation Control Panel</h2>

<fieldset style="float:left;">
    <legend>Options</legend>
    <div id="button-panel">
        <input type="button" id="add-single-guest" value="Add Guest" />
        <input type="button" id="add-invitation" value="Add Invitation" />
    </div>
</fieldset>

<fieldset style="float:left;">
    <legend>Stats</legend>
    <table>
        <tr>
            <td>Total Invited Guests</td>
            <td>@Model.TotalInvitedGuests</td>
        </tr>
        <tr>
            <td>Total Attending Guests</td>
            <td>@Model.TotalAttendingGuests</td>
        </tr>
    </table>
</fieldset>

<div style="clear:both;"></div>

<fieldset style="width: 750px; height:500px;">
    <legend>Invitations</legend>
    <div id="invitation-table-container">@Html.Partial("_InvitationTable", Model.InvitationTable)</div>
</fieldset>

<div id="add-invitation-model" title="Add New Invitation">Loading...</div>
<div id="edit-invitation-model" title="Edit Invitation">Loading...</div>
<div id="add-single-guest-modal" title="Add Guest">
    @Html.Partial("_AddGuest", new Guest())
</div>
<script type="text/javascript">
    var newInviteDialog;
    var editInviteDialog;
    var guestDialog;
    $("#add-invitation").click(function () {
        GetNewInvitation();
        newInviteDialog.dialog('open');
    });
    $("#add-single-guest").click(function() {
        guestDialog.dialog('open');
    });

    $(function () {
        $("input[type=button]").button();
        var dialogOptions = {
            modal: true,
            resizable: false,
            width: 700,
            height: 450,
            autoOpen: false
        };
        $("#add-invitation-model").dialog(dialogOptions);
        $("#edit-invitation-model").dialog(dialogOptions);
        $("#add-single-guest-modal").dialog({
            modal: true,
            resizable: false,
            width: 350,
            height: 250,
            autoOpen: false
        });
        newInviteDialog = $("#add-invitation-model");
        guestDialog = $("#add-single-guest-modal");
        editInviteDialog = $("#edit-invitation-model");

        newInviteDialog.dialog("option", "buttons", [{
            text: "Add Invitation",
            click: function() {
                AddInvitation();
                newInviteDialog.dialog('close');
            }
        }]);
        editInviteDialog.dialog("option", "buttons", [{
            text: "Update Invitation",
            click: function () {
                UpdateInvitation();
                editInviteDialog.dialog('close');
            }
        }]);
        guestDialog.dialog("option", "buttons", [{
            text: "Add Guset",
            click: function() {
                AddSingleGuest();
                $("#FirstName").val('');
                $("#LastName").val('');
                guestDialog.dialog('close');
            }
        }]);
    });
    
    function GetNewInvitation() {
        $.post("@Url.Action("GetAddInvitationModel", "Admin")", {}, function(data) {
            $("#add-invitation-model").html(data);
        });
    }

    function AddSingleGuest() {
        $.ajax({
            type: "POST",
            url: "@(Url.Content("~/api/Guest"))",
            data: { FirstName: $("#FirstName").val(), LastName: $("#LastName").val() },
            success: function(data, text, xhr) {
                switch (xhr.status) {
                    case 201:
                        guestDialog.dialog('close');
                        break;
                }
            },
            error: function (xhr, status, error) {
                switch (xhr.status) {
                    case 409:
                        alert('Guest exists!');
                        break;
                }
            }
        });
    }
    
    function OpenExistingInvitation(invitationId) {
        $.post("@Url.Action("GetInvitationModel", "Admin")", {invitationId: invitationId}, function (data) {
            $("#edit-invitation-model").html(data);
        });
        editInviteDialog.dialog('open');
    }
</script>
