@using CorriAndMike.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Corri & Mike</title>
    <script src="~/Content/Scripts/jQuery/jquery-1.9.1.js"></script>
    <script src="~/Content/Scripts/jQueryUi/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/Content/Scripts/DataTables/jquery.datatables.min.js"></script>
    <script src="~/Content/Scripts/Supersized/supersized.core.3.2.1.min.js"></script>
    <script src="~/Content/Scripts/Supersized/jquery.easing.min.js"></script>
    <script src="~/Content/Scripts/Supersized/supersized.3.2.7.min.js"></script>
    <script src="~/Content/Scripts/Supersized/supersized.shutter.min.js"></script>

    <link href="~/Content/Scripts/jQueryUi/css/eggplant/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/DataTables/jquery.dataTables.css" rel="stylesheet"/>
    <link href="~/Content/Styles/Site.css" rel="stylesheet" />
    <link href="~/Content/Styles/Supersized/supersized.core.css" rel="stylesheet" />
    <link href="~/Content/Styles/Supersized/supersized.css" rel="stylesheet" />
    <link href="~/Content/Styles/Supersized/supersized.shutter.css" rel="stylesheet" />
</head>
    <body>
        <div id="main-container">
            <div id="top-bar-container">
                <div id="top-bar">
                    <a id="show-slideshow"><span class="ui-icon ui-icon-circlesmall-minus"></span>&nbsp;<span style="text-decoration: underline;">Hide menu</span></a>
                </div>
            </div>
            <div id="menu-container" class="ui-corner-br ui-corner-bl">
                <img id="header-logo" src="~/Content/Images/tall-header.png" style="margin-left: -30px;"/>
                <ul id="menu-list">
                    <li><a id="home-link" class="nav-link" linkId="@(GlobalConstants.NavigationLinks.Home)">Home</a></li>
                    <li><a id="about-us-link" class="nav-link" linkId="@(GlobalConstants.NavigationLinks.AboutTheCouple)">About the couple</a></li>
                    <li><a id="rsvp-link" class="nav-link" linkId="@(GlobalConstants.NavigationLinks.Rsvp)">RSVP</a></li>
                </ul>
            </div>
            <div id="content-container" class="ui-corner-all">
                @RenderBody()        
            </div>
        </div>
    
        <script type="text/javascript">
            var homeLink = "@(GlobalConstants.NavigationLinks.Home)";
            var aboutLink = "@(GlobalConstants.NavigationLinks.AboutTheCouple)";
            var rsvpLink = "@(GlobalConstants.NavigationLinks.Rsvp)";

            var homeUrl = "@(Url.Action("Home", "Home"))";
            var aboutUrl = "@(Url.Action("AboutTheCouple", "About"))";
            var rsvpUrl = "@(Url.Action("Login", "Rsvp"))";
            
            $(function() {
                $("input[type=button]").button();
                $("select").addClass("ui-corner-all");
            });
        </script>
        <script type="text/javascript" src="~/Content/Scripts/corriandmike.js"></script>
    </body>
</html>
