@using CorriAndMike.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Corri & Mike's official wedding website." />
    <title>Corri & Mike</title>
    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>

    <script src="~/Content/Scripts/jQuery/jquery-1.9.1.js"></script>
    <script src="~/Content/Scripts/FlipCountDown/jquery.flipcountdown.js"></script>

    <link href="~/Content/Styles/Bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Site.css" rel="stylesheet" />
    <link href="~/Content/Styles/FlipCountDown/jquery.flipcountdown.css" rel="stylesheet" />
    <link href="~/Content/Styles/MobileSite.css?v=1" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <section class="header-section row">
            <img id="header-logo" src="~/Content/Images/Layout/header.png" class="col-sm-12" />
            <h3>March 23, 2015</h3>
            <div id="wedding-countdown"></div>
        </section>
        <section class="content-section row">
            <h3 class="col-sm-12 content-header">Corri & Mike</h3>
            <div class="mobile-content col-sm-12">
                <h4>How they met...</h4>
                <p>
                    Corri and Mike met in the grandest of fashions—<strong>at work!</strong>  After several failed attempts to woo each other at the office,
                    it took Mike’s cousin kidnapping Corri and whisking her off to Jersey to get the sparks flying.  Their relationship was a
                    secret for only a couple weeks until coworkers caught them kissing at a Christmas party.
                    <br /><br />
                    It was clear early on that they met
                    their matches for life—both are a little bit nerdy and have ridiculous shoe obsessions.  After several trips between the
                    Jerz and Harlem, Mike shooting his first gun in Idaho, Corri moving to Jersey where Mike attempted (and failed) to teach her
                    how to drive a manual car, the adoption of a crazy puppy named Jax and Hurricane Sandy the question was popped!
                </p>
                <h4>The engagement...</h4>
                <p>
                    Two days before Corri’s birthday in early March, Mike said he had an early birthday present to give her.  Corri knew it was serious because Mike put Jax in
                    his crate and sat her down.  First he presented her with a shoe box of the most beautiful and luxurious pair of shoes, which sent Corri into a hyperventilating fit.
                    These particular shoes represented “making it” and “success”— a goal Corri had been working towards since moving to New York.
                    <br /><br />
                    As Mike got down on one knee to slip
                    the beautiful shoe onto her foot, he also reached into his pocket for a tiny blue box and talked about setting a new goal since she already reached her first.
                    As Corri caught on to what was happening, the hyperventilating increased and she immediately said “yes” about 52 times.  To this day, she still has no idea what
                    Mike planned on saying or if she was answering a particular question.
                </p>
            </div>
        </section>
        <section class="content-section row">
            <h3 class="col-sm-12 content-header">Wedding in St. Lucia</h3>          
            <div id="wedding-main-info" class="mobile-content col-sm-12">
                <h4>Wedding in St. Lucia...</h4>
                <p class="left-align">
                    <strong>Resort:</strong> <a href="http://stlucianow.com/resorts/all-inclusive/smugglers-cove-resort-and-spa" target="_blank">Smuggler's Cove</a>
                    <br/>
                    Click here for <a href="#" onclick="$('#wedding-main-info').hide(); $('#wedding-booking-info').show();">Booking Information</a>
                    <br/>
                    Click here to <a href="http://bookings.bookstlucianow.com/group/skinner-levine-wedding/smugglers-cove-resort-and-spa-all-inclusive" target="_blank">Book your stay</a>
                </p>
                <p class="left-align">
                    <strong>Flight:</strong> Direct flights - about 4.5 hours - are traveling from New York (JFK) and Newark (EWR) to St. Lucia (UVF).
                </p>
                <p class="left-align">    
                    <strong>Passports:</strong> Valid passports are required for travel into St. Lucia. To apply for or renew your passport, start <a href="http://travel.state.gov/content/passports/english.html" target="_blank">here</a>.
                </p>
                <p class="left-align">
                    <strong>Packing List:</strong>
                </p>
                <ul id="packing-list" class="left-align">
                    <li>Sunscreen, lots of it!</li>
                    <li>Hat. Seriously, there is a lot of sun.</li>
                    <li>Sunglasses. You get the idea.</li>
                    <li>Men are required to wear long pants for dinner at the resort (it is cooler at night).</li>
                    <li>Small bills. Both US Dollars and Carribean Dollars are widely accepted. Exchange rate is currently $2.7 Carribean => $1 US.</li>
                </ul>
                <br/>
                <img src="~/Content/Images/St. Lucia 1.jpg" style="width: 150px; margin: 10px auto;"/><br/>
                <img src="~/Content/Images/St.Lucia 2.jpg" style="width: 150px; margin: 10px auto;"/>
                <br/>
            </div>
            <div id="wedding-booking-info" class="mobile-content col-md-12" style="display:none;">
                <h4>Booking Information</h4>
                <a href="#" onclick="$('#wedding-main-info').show(); $('#wedding-booking-info').hide();">Back to main page</a>
                <address>
            <span style="color:#9f4d95;">Smuggler's Cove</span><br/>
            Cap Estate <br/>
            St. Lucia, West Indies <br/>
            Phone: 1 758 450 0551<br/>
            Fax: 1 758 450 0398<br/>
            Email: <a href="mailto:info@smugglersbeachresort.com">info@smugglersbeachresort.com</a><br/>
            Website: <a href="http://www.smugglersbeachresort.com/">www.smugglersbeachresort.com/</a>
        </address>
        <br/>
        <table style="width: 550px; margin: auto;" border="1" class="table">
            <thead>
                <th>Period</th>
                <th>Room Type</th>
                <th colspan="4">Rate Per Person</th>
            </thead>
            <tbody>
                <tr>
                    <td>March 19-24, 2015</td>
                    <td></td>
                    <td>Single</td>
                    <td>Double</td>
                    <td>Triple</td>
                    <td>Quad</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Standard Rooms</td>
                    <td>$139.00</td>
                    <td>$110.00</td>
                    <td>$82.00</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Deluxe Garden View</td>
                    <td>$148.00</td>
                    <td>$116.00</td>
                    <td>$86.00</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Superior Deluxe Garden View</td>
                    <td>$155.00</td>
                    <td>$123.00</td>
                    <td>$90.00</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Superior Deluxe Beachfront</td>
                    <td>$203.00</td>
                    <td>$155.00</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td></td>
                    <td>One Bedroom Suite Garden View</td>
                    <td>$161.00</td>
                    <td>$129.00</td>
                    <td>$97.00</td>
                    <td>$80.00</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <p>
            <strong>ACCOMMODATIONS</strong> All 357 rooms and suites are located in low rise, single-story buildings set in the tropical gardens or overlooking 
            the secluded bay of Smuggler's Cove. All rooms are newly refurbished and offer terrace, air-conditioning, private bath and shower, in-room safe, king or 
            twin beds (according to request), satellite color TV, hairdryers tea & coffee making facilities, iron & board. (internet access in lobby at extra charge). 
        </p>
        <br/>
        <p>
            <strong>Standard Rooms</strong> Located throughout the property, these rooms have vaulted ceilings and spectacular garden views. Max. occupancy: 3 adults or 2 adults + 2 children 0-16 years. 
        </p>
        <br/>
        <p>
            <strong>Deluxe Garden Rooms</strong> Located on the hillside near the racquet club with tropical garden view and offers an oasis of peace and 
            quiet area from the main activity areas of the resort. One king bed or two queen beds. 
        </p>
        <br/>
        <p>
            <strong>Superior Deluxe Garden View</strong> consists of a spacious bedroom with an adjoining living room. One king bed and queen size pull out sofa. 
        </p>
        <br/>
        <p>
            <strong>Superior Deluxe Beachfront Rooms</strong> Located near the beach or atop a hillside, are spacious rooms with Japanese Soaking tubs which are perfect for watching a Caribbean 
            sunset over the ocean, these can only accommodate two persons – One king bed. 
        </p>
        <br/>
        <p>
            <strong>One Bedroom Garden View Suite</strong> consists of a spacious bedroom with an adjoining living room. One king bed and queen size pull out sofa. 
        </p>
        <br/>
        <img src="http://corriandmike.com/content/images/sample-room.jpg" />
        <p>
            <strong>Room rate includes: </strong>
        </p>
        <ul>
            <li>Taxes, service charge and gratuities</li>
            <li>Daily breakfast - (International Buffet in restaurant)</li>
            <li>Non-motorized and motorized Water Sports</li>
            <li>Internet Access (at the Piton Lounge)</li>
            <li>Beverages including brand name liquor, beer, tropical coolers, house wines by the glass and soft drinks</li>
            <li>Beach/Pool lounge chairs and towels</li>
            <li>Kids Club</li>
            <li>Use of Fitness Centre & Pools</li>
            <li>Management Cocktail Party on Mondays</li>
            <li>Turndown service</li>
            <li>Car Parking</li>
        </ul>
        <p>
            <strong>Services at an additional Cost:</strong>
        </p>
        <ul>
            <li>Treatments at the Namaste Spa</li>
            <li>Golf – green fees at Cap Estate Golf Course (Saint Lucia Golf Course) </li>
            <li>Golf Carts, clubs, balls, bags and tees</li>
            <li>Airport transfers</li>
            <li>Saint Lucia airport departure taxes</li>
            <li>Wine by the bottle</li>
            <li>Surcharges on Steak and lobster may apply</li>
        </ul>
        <br/>
        <p>
            <strong>Amenities:</strong>
        </p>
        <ul>
            <li>Minibar in most rooms</li>
            <li>In-room safe</li>
            <li>In-room coffee maker</li>
            <li>Iron & Ironing Board</li>
            <li>Bathroom Amenities</li>
        </ul>
        <br/>
        <img src="http://www.corriandmike.com/Content/Images/smugglercove.png" />
        <br/><br/>
        <h3><strong>Q + A:</strong></h3>
        <br/>
        <ol>
            <li><strong>Our wedding activities are from March 19 - 24, but is it possible for guests to customize their dates and number of nights?</strong></li>
            <p>We will offer the same rates 5 days before your activity dates and five days after.</p>
            <li><strong>Is there a separate rate for kids? </strong></li>
            <p>Children between the ages of 3-16 should pay US$50 per person, per night. Children under 3 are free.</p>
            <li><strong>Can we guarantee that rooms will be next to others in our party?</strong></li>
            <p>We cannot guarantee that all of the rooms will be close together; this is based on availability at the time of rooming.</p>
            <li><strong>Some rooms are very far from the main activity areas.  Are there special accommodations for guests who may have a difficult time getting around?</strong></li>
            <p>
                We will try our best to accommodate with rooms closer to the main activity areas.  However, if availability does not allow at the time of rooming we have a buggy 
                service that will take them to their rooms when requested.
            </p>
            <li><strong>Do our guests have to book a specific way to get the group rate?  </strong></li>
            <p>
                Guests need to book online through a specific wedding link to get group rates.  You must book at least 30 days before arrival:  <a href="http://bookings.bookstlucianow.com/group/skinner-levine-wedding/smugglers-cove-resort-and-spa-all-inclusive">http://bookings.bookstlucianow.com/group/skinner-levine-wedding/smugglers-cove-resort-and-spa-all-inclusive</a>
            </p>
            <li><strong>Is a deposit required to hold each room?  Is it refundable?  </strong></li>
            <p>
                A 13% deposit is collected at booking, in order to secure the reservation. It is applied towards the total balance due. The hotel will contact you soon after to collect an additional 50% deposit.  The remaining balance is required 15 days before arrival.
                <br/><br/>
                Cancellation policy:  <br/>
                7 days prior to arrival:  1 night of total stay<br/>
                No shows:  3 nights of total stay<br/>
                Early checkouts: 75% off the total unused nights.  <br/>
                <br/>
                The deposit is refundable 21 days prior to arrival.
            </p>
            <li><strong>When is final payment due by?</strong></li>
            <p>Full payment is required 15 days before arrival.</p>
            <li><strong>Which airport are we flying into?</strong></li>
            <p>
                Hewanorra International Airport, Saint Lucia<br/>
                Vieux Fort, Saint Lucia<br/>
                UVF<br/>
            </p>
            <li><strong>How are we getting from the airport to the hotel?</strong></li>
            <p>
                The airport is about an hour and a half from the hotel.  Enjoy views of the breathtaking island on the drive from the south end to the north of the island.  
                Transportation from the airport is not included in the rates. It can be arranged privately by the guests.
                <br/><br/>
                <strong><em>Hewanorra International Airport (UVF) - Smugglers Cove Beach Resort & Spa</em></strong>
                <br/>
                <strong><em>Category: Regular</em></strong><br/>
                <table style="width: 300px; margin: auto;">
                    <tr>
                        <td>1 Person</td>
                        <td>US $110</td>
                    </tr>
                    <tr>
                        <td>2 Persons</td>
                        <td>US $110</td>
                    </tr>
                    <tr>
                        <td>3-9 Persons</td>
                        <td>US $40</td>
                    </tr>
                    <tr>
                        <td>Infants(0-3yrs)</td>
                        <td>Complimentary</td>
                    </tr>
                    <tr>
                        <td>Chilren(4-11yrs)</td>
                        <td>50% Adult Rate</td>
                    </tr>
                    <tr>
                        <td>Car Seats</td>
                        <td>US $15</td>
                    </tr>
                </table>
            </p>
        </ol>
            </div>
        </section>
        <section class="content-section row">
            <h3 class="col-sm-12 content-header">After Party</h3>
            <div class="mobile-content col-sm-12">
                <h4>After party...</h4>
                <p>
                    Can't make it to St. Lucy for the wedding?  Don't worry, we're throwing a party at home when we get back!  More details coming soon. 
                </p>
            </div>
        </section>
        <section class="content-section row">
            <h3 class="col-sm-12 content-header">Engagement Party</h3>
            <div class="mobile-content col-sm-12">
                <h4>Engagement party</h4>
                <p>
                    Thanks to everyone for making the trip and dealing with the hot and cramped day. We had an amazing time and can't wait to get our family and friends together again to celebrate!
                </p>
                <img src="~/Content/Images/C&M engagement party 1.JPG" style="width: 150px; margin: 10px auto;" />
            </div>
        </section>
    </div>
    <script type="text/javascript">
            var corriAndMikeLink = "@(GlobalConstants.NavigationLinks.CorriAndMike)";
            var weddingLink = "@(GlobalConstants.NavigationLinks.WeddingInStLucia)";
            var afterPartyLink = "@(GlobalConstants.NavigationLinks.AfterParty)";
            var engagementPartyLink = "@(GlobalConstants.NavigationLinks.EngagementParty)";

            var corriAndMikeUrl = "@(Url.Action("CorriAndMike", "About"))";
            var engagementPartyUrl = "@(Url.Action("EngagementParty", "Events"))";
            var weddingUrl = "@(Url.Action("Wedding", "About"))";
            var afterPartyUrl = "@(Url.Action("AfterParty", "About"))";

            var spinnerImgSrc = "@(Url.Content("~/Content/Images/Spinner/sprites.gif"))";
            var baseUrl = "@(Url.Content("~"))";
            var weddingDate = Math.round((new Date('3/23/2015 00:00:01')).getTime()/1000);
            $(function () {
                $("h3.content-header").click(function () {
                    var content = $(this).next("div.mobile-content");
                    if (content.is(":visible") == true) {
                        content.hide();
                        return;
                    }
                    $("div.mobile-content").each(function () {
                        $(this).hide();
                    });
                    content.show();
                });
                $("#wedding-countdown").flipcountdown({
                    size: "xs",
                    showDays:true,
                    tick: function(){
                        var nol = function(h){
                            return h>9?h:'0'+h;
                        }
                        var	range  	= 	weddingDate-Math.round((new Date()).getTime()/1000),
                            secday	= 	86400, sechour = 3600,
                            days	= 	parseInt(range/secday),
                            hours	= 	parseInt((range%secday)/sechour),
                            min	= 	parseInt(((range%secday)%sechour)/60),
                            sec	= 	((range%secday)%sechour)%60;
                        return nol(days)+' '+nol(hours)+' '+nol(min)+' '+nol(sec);
                    }
                });
            });
    </script>
    @if (Request.Url.GetLeftPart(UriPartial.Authority) != "http://localhost")
    {
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-41157913-1', 'corriandmike.com');
            ga('send', 'pageview');
        </script>
    }
</body>
</html>